%h1 Privacy Policy
%p Last updated Feburary 14th, 2023.

This privacy policy attempts to outline how this website collects and uses information from its users.

%h3 Logs

Like most other websites, this website collects non-personal log information about users whenever they access them. These logs may include the browser name, the type of computer and technical information about how the site was acccessed, such as the operating system, the ip addressed used, etc. Log information is primarily gathered to ensure reliable, secure, and quick access to the website.

%h3 Cookies

Like most other websites, we use cookies as part of the user authentication process with our systems.

%h3 Personal Data

We primarily collect personal data that is submitted by users explicitly through the website, because users wish to store data in our systems in order to run calculations on it for their benefit. We do not sell, rent, or otherwise share this data with any third parties. However, our systems run on Amazon Web Services within the United States, so your data is stored there and transmitted to you through those networks.

%h3 Changes

This privacy policy may be revised at any time without notice. We encourage users to frequently check this page for any changes. Your continued use of this website after any changes or revisions to this policy shall indicate your agreement with the revised privacy policy.

