version: '3.4'

services:
  db:
    environment:
      - POSTGRES_USER=${USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=automation-calculator-production

  logspout:
    command: syslog://${LOGSPOUT_TARGET_URL}
    container_name: logspout
    image: gliderlabs/logspout:v3.2.4
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  production:
    command: rails s --environment=production
    depends_on:
      - db
    environment:
      - DB_URL="postgresql://${USER}:${POSTGRES_PASSWORD}@db:5432/automation-calculator-production"
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - USER=${USER}
    image: automationcalculator/automation-calculator-rails:latest
    ports:
      - 3000:3000
    working_dir: /usr/src/app

  watchtower:
    command: --interval 30
    container_name: watchtower
    image: v2tec/watchtower:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
