<footer class="footer">
  <div class="container">
    <nav>
      <ul class="footer-menu">
        <li>
          <a href="javascript:void(0)">
            Home
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Portfolio
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Blog
          </a>
        </li>
      </ul>
      <p class="copyright text-center">
        CopyRight ©
        <%= Date.today.strftime("%Y")%>
      </p>
    </nav>
  </div>
</footer>