<h2><%= link_to "Iteration List", automation_scenario_iterations_url(automation_scenario_id: params[:automation_scenario_id])%></h2>
<h2>Iteration Details</h2>
<div>
	<label>Iteration Time: <%= @iteration.iteration_time %></label>
	<br />
	<label>Iteration Cost: <%= @iteration.iteration_cost %></label>
</div>