%h1 About
%p This is an open-source and free web based automation calculator. It's objective is to help people make smarter automation decisions more easily.

Links to Open Source Repositories:
%ul
    %li= link_to "Application Code Github Repository", "https://github.com/team-automation-calculator/automation-calculator", rel: 'nofollow'
    %li= link_to "Infrastructure as Code Github Repository", "https://github.com/team-automation-calculator/core-iac", rel: 'nofollow'
