/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*=====================Global Style===================*/
/* Google Font Oswald */
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
body{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #222;
    background-color: #f2f2f2;
}

/*=====================login style===================*/
.login-header{
    background: url("login-animation-bg.jpg");
    background-size: cover;
    height: 370px;
    display: flex;
    align-items: center;
    position: relative;
}

.login-container .banner-title {
    margin: 0;
    color: #222;
    font-size: 26px;
    line-height: 60px;
    font-weight: 400;
    padding: 0 20px;
    display: block;
    text-align: center;
}
.login-container h2 span {
    color: #37a000;
    font-size: 50px;
    display: block;
    font-weight: 600;
    padding: 0 20px;
}
.login-page{
    background: #fff;
    border: 1px solid #e5e5e5;
    width: calc(100% - 700px);
    margin: -50px auto 20px;
    overflow: hidden;
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}
.login-page h2{
    font-weight: 400;
    margin-bottom: 20px;
}
.login-page label {
    display: block;
    color: #d0d0d0;
    font-size: 16px;
    font-weight: 400;
}
.login-page input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #37a000;
    padding: 8px 10px;
    outline: none;
    margin-bottom: 15px;
}
.login-page input[type="submit"]{
    width: 50%;
    border: none;
    background: #37a000;
    color: white;
    padding: 6px 0;
    margin: 25px auto;
    display: block;
    border-radius: 2px;
    font-size: 18px;
    -webkit-transition: ease 0.4s all;
    -moz-transition: ease 0.4s all;
    -o-transition: ease 0.4s all; 
    transition: ease 0.4s all;
}
.login-page input[type="submit"]:hover{
    background: #008329;
}
.login-page input[type="submit"]:focus {
    width: 50%;
}
.login-page input:focus{
    border: none;
    border-bottom: 1px solid #a5c5b4;
    width: 100%;
    padding: 6px 0;
}

.login-page .field{
    /*border: 2px solid red;*/
    margin: 10px 0;
}

.login-page a{
    color: #222;
    text-decoration: none;
    -webkit-transition: ease 0.4s all;
    -moz-transition: ease 0.4s all;
    -o-transition: ease 0.4s all; 
    transition: ease 0.4s all;
}
.login-page a:hover{
    color: #37a000;
}
.login-page h1 {
    color: #222;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    text-transform: capitalize;
    display: inline-block;
    padding-bottom: 16px;
    margin: 0;
}
.login-page h1:before {
    position: absolute;
    content: '';
    height: 3px;
    background: #37a000;
    width: 70px;
    bottom: 0;
}
/*===================== end login style===================*/

/*=====================top navbar style===================*/
.top-navigation{
    width: 100%;
    box-sizing: border-box;
    background: #37A000;
    padding: 30px 0;
}
.top-navigation h3{
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.login-toggle{
    float: right;
}
.login-toggle a {
    font-size: 20px;
    color: #fff;
    text-align: right;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 20px;
    -webkit-transition: ease 0.4s all;
    -moz-transition: ease 0.4s all;
    -o-transition: ease 0.4s all;
    transition: ease 0.4s all;
}
.login-toggle a:hover {
    background-color: #f2f2f2;
    color: #37A000;
    box-shadow: 1px 2px 3px #333;
}

/*===================== end top navbar style===================*/

/*=====================automation_scenario style===================*/
.automation-scenario h1{
    text-align: center;
    padding: 50px 0px 0px;
}
.automation-scenario-left{
    margin-top: 50px;
}
.automation-scenario input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #37A000;
    padding: 8px 10px;
    margin: 5px 0px 10px;
    outline: none;
}
.automation-scenario input[type="submit"]{
    border: none;
    background: #37A000;
    color: #fff;
    padding: 8px 0px;
    margin: 25px auto;
    display: block;
    border-radius: 2px;
    font-size: 18px;
    -webkit-transition: ease 0.4s all;
    -moz-transition: ease 0.4s all;
    -o-transition: ease 0.4s all; 
    transition: ease 0.4s all;
}
.automation-scenario input[type="submit"]:hover{
    background: #008329;
    color: #fff;
    box-shadow: 1px 2px 3px #222;
}
.automation-scenario-right{
    margin-top: 50px;
}
/*===================== end automation_scenario style===================*/



/*===================== Media Query for Responsive ===================*/
@media screen and (max-width: 500px){
    .login-container .banner-title {
        font-size: 18px;
        line-height: 1em;
    }
    .login-header {
        height: 270px;
        padding-left: 4%;
    }
    .login-container h2 span {
        font-size: 30px;
        text-align: center;
    }
    .login-page {
        width: calc(100% - 50px);
    }
    .logout {
        margin-top: -7%;
    }
    

}