%p#notice= notice
%p
  %strong Initial Cost:
  = @solution.initial_cost
%p
  %strong Iteration Cost:
  = @solution.iteration_cost
%p
  %strong Automation Scenario:
  = @solution.automation_scenario_id
