<p id="notice"><%= notice %></p>

<p>
  <strong>Initial Cost:</strong>
  <%= @solution.initial_cost %>
</p>

<p>
  <strong>Iteration Cost:</strong>
  <%= @solution.iteration_cost %>
</p>

<p>
  <strong>Automation Scenario:</strong>
  <%= @solution.automation_scenario_id %>
</p>
